* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins, sans-serif;
}
.navbar {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	margin-bottom: 100px;
	z-index: 1;
}
.navbar .container-fluid .navbar-brand {
	margin-left: 5%;
}
.navbar .container-fluid .navbar-brand img {
	width: 40%;
	height: 40%;
}
.navbar .container-fluid .collapse ul {
	margin-left: 10%;
}
.navbar-nav .nav-link {
	margin-left: 1.5rem;
	color: #5d6167;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	font-size: 15px;
	text-align: left;
	padding-left: 5%;
	padding-right: 0;
}
.navbar .container-fluid .collapse ul li #home-link {
	color: black;
}
.navbar .container-fluid .collapse ul li #about-link {
	color: black;
}
.navbar .container-fluid .collapse ul li #product-link {
	color: red;
}
.navbar .container-fluid .collapse ul li #testimonial-link {
	color: black;
}
.navbar .container-fluid .collapse ul li #history-link {
	color: black;
}

.navbar .container-fluid .collapse ul li #contact-link {
	color: black;
}
.navbar .container-fluid .collapse ul li #home-link:hover {
	color: red;
}
.navbar .container-fluid .collapse ul li #about-link:hover {
	color: red;
}
.navbar .container-fluid .collapse ul li #product-link:hover {
	color: red;
}
.navbar .container-fluid .collapse ul li #testimonial-link:hover {
	color: red;
}
.navbar .container-fluid .collapse ul li #history-link:hover {
	color: red;
}

.navbar .container-fluid .collapse ul li #contact-link:hover {
	color: red;
}
#nav-line {
	color: grey;
	margin-top: 100px;
}
#footer-line {
	color: grey;
}

#main-content #heading-content {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#main-content #heading-content h2 {
	font-size: 55px;
	font-weight: bolder;
}
#main-content #heading-content hr {
	color: red;
	opacity: 1;
	width: 10%;
	height: 3px;
}
#main-content #millet-cookies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#main-content #millet-cookies h2 {
	font-size: 35px;
	font-weight: bold;
}
#main-content #millet-cookies p {
	font-size: 20px;
	width: 75%;
}
#main-content #millet-cookies #why-millet-cookies {
	padding: 30px;
	color: white;
	width: 75%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(180deg, #cc33339f 0%, red 100%);
	font-weight: bolder;
}
#main-content #millet-cookies #why-millet-cookies h2 {
	text-align: center;
}
#main-content #gifting-options {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#main-content #gifting-options h2 {
	font-weight: bolder;
}
#main-content #gifting-options p {
	width: 75%;
	font-size: 20px;
}
#main-content #packing #packing-images {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#main-content #packing #packing-images h2 {
	font-weight: 800;
	color: blue;
	font-family: 'Roboto', sans-serif;
	margin: 50px 0 50px 0;
}
#main-content #packing #packing-images img {
	width: 80%;
	height: 80%;
}
#main-content #packing #packing-images #last-image {
	width: 50%;
	height: 50%;
}
footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #5d6167;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	font-size: 15px;
	margin-bottom: 50px;
	background-color: white;
	margin-top: 2em;
}
footer div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer div a img {
	height: 40%;
	width: 40%;
	margin-left: 13%;
}
footer div h4 {
	font-size: 20px;
	font-weight: bolder;
}

footer div a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #2b2f38;
}
footer div a:hover {
	cursor: pointer;
	color: red;
}
@media screen and (max-width: 1250px) {
	.navbar .container-fluid .collapse ul {
		margin-left: 0%;
	}
}
@media screen and (max-width: 1132px) {
	.navbar .container-fluid .navbar-brand {
		margin-left: 0%;
	}
}
@media screen and (max-width: 1074px) {
	.navbar .container-fluid .collapse ul {
		margin-left: -5%;
	}
	.navbar .container-fluid .navbar-brand img {
		width: 150px;
	}
	.navbar .container-fluid .navbar-brand {
		margin-left: -1%;
	}
	#nav-line {
		color: grey;
		margin-top: 80px;
	}
}
@media screen and (max-width: 940px) {
	.navbar .container-fluid .navbar-brand {
		margin-left: 5%;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer #important-link a {
		margin-top: 25px;
	}
	footer div a img {
		margin-left: 0;
	}
	footer div h4 {
		font-size: 20px;
	}
}

@media screen and (max-width: 500px) {
	#main-content #heading-content h2 {
		font-size: 40px;
	}
	#main-content #millet-cookies h2 {
		font-size: 30px;
	}
	#main-content #millet-cookies p {
		width: 85%;
		font-size: 15px;
	}
	#main-content #gifting-options p {
		width: 85%;
		font-size: 15px;
	}
	#main-content #millet-cookies #why-millet-cookies h2 {
		font-size: 30px;
	}
	#main-content #millet-cookies #why-millet-cookies {
		width: 85%;
	}
	#main-content #gifting-options h2 {
		font-size: 25px;
	}
	#main-content #packing #packing-images h2 {
		font-size: 15px;
		text-align: center;
	}
}
@media screen and (max-width: 400px) {
	#main-content #millet-cookies #why-millet-cookies ol {
		width: 120%;
	}
}
